.card_subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .card_subscription_content {
    padding: 20px;
    border-radius: 15px;
    background: var(--color-secondary-white);

    .info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .title {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: var(--color-secondary-black);
      }

      .price {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: var(--color-secondary-black);
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .item {
        display: flex;
        align-items: center;
        gap: 5px;

        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        color: var(--color-secondary-black);
      }
    }

    .ant-btn-default {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      padding: 16px 34px;
      margin: auto;
      margin-top: 30px;
      width: 200px;
      height: 46px;
    }
  }
}
