.qualification {
  .ant-row {
    display: flex !important;
    flex-direction: column !important;
  }

  .ant-form-item-row {
    display: flex !important;
    flex-direction: column !important;
  }

  .text {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
  }
  .ant-collapse-header-text {
    font-family: "Montserrat", sans-serif;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .img_content {
    display: flex;
    overflow: auto;
    gap: 10px;

    .img {
      padding: 10px;
      border: 1px solid var(--color-secondary-black);
    }
  }
}

.modal_qualification {
  .ant-row {
    display: flex !important;
    flex-direction: column !important;
  }

  .ant-form-item-row {
    display: flex !important;
    flex-direction: column !important;
  }
}
