.client {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .name {
    margin-top: 40px;
    text-align: center;
  }
  .card_client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--color-secondary-100);
    border-radius: 20px;

  }
}
