$calendarHeight: 340px;
$buttonSize: 40px;

.schedule {
  margin-top: 40px;
  .react-calendar {
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
  }

  .react-calendar__tile--now {
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-secondary-600);
    color: var(--color-secondary-100);
  }
  .react-calendar__navigation {
    display: flex;
    align-items: center;
    .react-calendar__navigation__next-button  {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      border: 1px solid var(--color-secondary-700);
    }

    .react-calendar__navigation__prev-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      border: 1px solid var(--color-secondary-700);
    }
  }


  abbr {
    text-decoration: none !important;
  }
  .react-calendar__month-view__days__day--weekend {
    color: var(--color-secondary-700);
  }
  .react-calendar__navigation__next2-button {
    display: none !important;
  }

  .react-calendar__navigation__prev2-button {
    display: none !important;
  }

  .react-calendar__tile:disabled {
    background-color: unset;
  }
}
