$calendarHeight: 340px;
$buttonSize: 40px;

.schedule {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid var(--color-secondary-200);
  border-radius: 20px;
  margin-top: 40px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    .date-display {
      text-align: center;

      .title {
        color: var(--color-secondary-700);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $buttonSize;
      height: $buttonSize;
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
      }
    }

    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      border: 1px solid var(--color-secondary-700);
    }
  }
}
.rbc-calendar {
  width: 100%;
  height: $calendarHeight;
  margin: 0;
  border: none !important;
}
.rbc-day-bg + .rbc-day-bg {
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbc-month-row + .rbc-month-row {
  border: none !important;
}

.rbc-month-view {
  border: none !important;
}

.rbc-header + .rbc-header {
  border: none !important;
}

.rbc-header {
  border: none !important;
}

.rbc-today .rbc-date {
  color: purple;
}