.list_info_train {
  .title {
    color: var(--color-alternative-700);
    font-family: "Montserrat", sans-serif;
    font-size: 14.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
