$colors: (
  secondary: (
    700: #E5E5E5,
    600: #972BD4,
    500: #848286,
    400: #b2b2b2,
    300: #d9d9d9,
    200: black,
    100: #ffffff,
    main-bg: #f7f4f9,
    yellow: #f4c038,
    red: #ff2200,
    opacity-black: #1c1c1c,
    opacity-white: #fbf9fb,
  ),
);

:root {
  @each $colorname, $color in $colors {
    @each $key, $value in $color {
      $keyname: "--color-" + $colorname + "-" + $key;
      #{$keyname}: #{$value};
    }
  }
}
