$colors: (
  secondary: (
    700: #f9f9f9,
    600: #972bd4,
    500: #848286,
    400: #F8CAC5,
    300: #fbb9b0,
    200: #ffdbcf,
    100: #ef6078,
    main-bg: #f7f4f9,
    yellow: #f4c038,
    red: #ff2200,
    opacity-black: #1c1c1c,
    opacity-white: #fbf9fb,
    green: #99d69c,
    white: white,
    black: black,
    title: black,
    text: black,
    description: black,
  ),
);

:root {
  @each $colorname, $color in $colors {
    @each $key, $value in $color {
      $keyname: "--color-" + $colorname + "-" + $key;
      #{$keyname}: #{$value};
    }
  }
}
