$colors: (
  primary: (),
  alternative: (
    700: #f38c9d,
    800: #ff7171,
    1500: #fe5841,
    1400: #54d988,
    green: #70d397,
    red: #ff5454,
  ),
  secondary: (
    1300: #fdf6f3,
    1200: #f7cbc4,
    1100: #f4b3bd,
    1000: #ffe8e0,
    900: #f6748a,
    800: #272d37,
    700: #f9f9f9,
    600: #f3b2bd,
    400: #f8cac5,
    300: #fbb9b0,
    200: #ffdbcf,
    100: #ef6078,
    main-bg: #f7f4f9,
    yellow: #f4c038,
    opacity-black: #1c1c1c,
    opacity-white: #fbf9fb,
    white: white,
    black: black,
    grey: #fafafa,
    500: #b2b2b2,
  ),
);

:root {
  @each $colorname, $color in $colors {
    @each $key, $value in $color {
      $keyname: "--color-" + $colorname + "-" + $key;
      #{$keyname}: #{$value};
    }
  }
}
