.register {
  display: flex;
  flex-direction: column;
  max-width: 420px !important;
  margin: 0 auto;
  gap: 12px;

  .register_title {
    display: flex;
    justify-content: center;
    font-size: 34px;
  }
}
