.register {
  padding-top: 40px;
  .register_title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 110%;
    color: var(--color-secondary-200);
    margin-top: 20px;
  }
  .register_text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    margin-top: 5px;
    color: var(--color-secondary-200);
  }
  .role-selection {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .chose {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    div {
      cursor: pointer;
      &.role-active {
        font-weight: bold;
      }
    }
  }

  .role-line {
    display: flex;
    margin-bottom: 40px;
    div {
      flex-grow: 1;
      height: 2px;
      background-color: gray;

      &.line-active {
        &.trainer {
          background-color: blue;
        }

        &.client {
          background-color: green;
        }
      }
    }
  }

  .validation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .title {
      margin-bottom: 5px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 145%;

      color: var(--color-secondary-200);
    }
    .ant-form-item {
      margin-bottom: 0;
    }

    .check_box {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .ant-select-selector {
      background-color: white !important;
      border-color: #e1e1e1 !important;
      border-top: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
      border-radius: unset !important;
      padding: 0;
    }
    .ant-input {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: unset;
      padding-left: 0;
    }
    .ant-input-number-group-addon {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: unset;
    }
    .ant-input-number {
      border-top: 0;
      border-right: 0;
      border-radius: unset;
    }
    .ant-input-affix-wrapper {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: unset;
      padding-left: 0;
    }
    .ant-btn-default {
      border-radius: 10px;
      height: unset;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: var(--color-secondary-400);
      color: var(--color-secondary-100);
    }
  }
}
