.calendar {
  display: flex;
  gap: 15px;
  overflow: auto;
  padding: 15px 0;


  .calendar-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 60px;
    background: var(--color-secondary-white);
    box-shadow: 0px 4px 10px rgba(0, 115, 204, 0.26);
    border-radius: 18px;
    border: 1px solid var(--color-secondary-300);
    .calendar-day-number,
    .calendar-day-name {
      color: var(--color-secondary-300);
      font-size: 12px;
    }
  }

  .calendar-day.selected,
  .calendar-day.today {
    background-color: var(--color-secondary-300);

    .calendar-day-number,
    .calendar-day-name {
      color: white;
    }
  }
}
