.tabs {
  border: 1px solid black;
  overflow: hidden;
  border-radius: 8px;
  .tabs_title {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
    color: black;
  }

  .tabs_title.active {
    background-color: black;
    color: white;
  }

}
