.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px ;
  padding-bottom: 30px ;
  width: 100%;
  margin-top: 20px;
  background-color: var(--color-secondary-white);
  .footer_button {
    margin: 0 10px;
  }

  .footer_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

