.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px ;
  padding-bottom: 30px ;
  width: 100%;
  background-color: var(--color-secondary-100);
  .footer_button {
    margin: 0 10px;
  }
}

