.timetable {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .timetable_header {
    margin-bottom: 20px;
  }

  .timetable_card {
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
  }

  .text {
    color: var(--color-secondary-500);
  }

  .ant-form-item {
    margin-bottom: 0;
  }

  .specialization {
    margin-top: 20px;
  }
}
