.login {
  .login_title {
    display: flex;
    justify-content: center;
    font-size: 34px;
  }

  .login_input {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
    gap: 12px;
  }

  .login_input_title {
    display: flex;
    justify-content: flex-start;
  }

  .button {
    margin-top: 30px;
  }
}
