.login {
  padding-top: 40px;
  .login_title {
    margin-top: 20px;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    color: var(--color-secondary-200);
  }

  .login_text {
    margin-top: 8px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    color: var(--color-secondary-200);
  }

  .alert {
    margin-bottom: 20px;
    color: red;
  }

  .login_input {
    .title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 145%;

      color: var(--color-secondary-200);
    }

    .text {
      margin-top: 20px;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 145%;
      display: flex;
      justify-content: flex-end;
      color: var(--color-secondary-400);
    }

    .ant-input {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: unset;
    }

    .ant-input-affix-wrapper {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: unset;
    }

    .ant-btn-default {
      border-radius: 10px;
      height: unset;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: var(--color-secondary-400);
      color: var(--color-secondary-100);
    }

    .input {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  .login_input_title {
    margin-bottom: 40px;
  }
  .form_login {
    display: flex;
    flex-direction: column;
    gap: 160px;
  }
  .register_text {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    gap: 4px;
    margin-top: 20px;
    color: var(--color-secondary-200);
    .register_title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 125%;
      /* identical to box height, or 18px */

      display: flex;
      align-items: flex-end;

      color: var(--color-secondary-200);
    }
  }
}
