.card_user_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .two-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; // Расстояние между элементами

    div {
      div:first-child {
        font-weight: bold; // Делаем первую строку жирной
      }
    }
  }
}